

body {
	font:8pt verdana;
	background: #fff;
	margin:0;
	padding:0;
	}
.style5 {color: #6C88A6;text-align:left}
.style6 {
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
}
.style7 {color: #FFFFFF}

h1 {
	font:30pt verdana, arial, sans-serif;
	color:#666;
	margin:0;
	<!-- padding:125px 0 0 10px; -->
}

h2 {
	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
}

h3 {
	font:14pt verdana, arial, sans-serif;
	color:#666;
	padding:10px;
	margin:0;
  text-align: left;
}

p {
	font: 8pt verdana;
	margin: 0px;
	text-align: justify;
	}

#contain {
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	background: #FFF ;
}

#header {
	width:1000px;
	padding: 30px 0px;
	border-bottom:1px solid #CCC;
	border-top:1px solid #CCC;
	text-align: center;
	padding-top:20px;
}

#navbar a {
		width:1000px;
}

#navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 50px 0;
	text-align: center;
	border-bottom:1px solid #CCC;
}

#navbar li {
	display: inline;
	font:20pt verdana, arial, sans-serif;
	color:#666;
	padding: 20px;
}

#leftcol {
	width:200px;
	float:left;
	background-color: #fff;
	margin-left:20px;
	padding: 10px 10px;
}

#content {
	margin-left:240px;
	width:500px;
	height:10
	00px;
}

#content p {
	font-size: 14px;
	padding: 5px 5px;
}


#content li {
	font-size: 14px;
	padding: 10px 10px;
}

#footer {
	width:1000px;
	clear:left;
	border-top:1px solid #369;
	border-bottom:1px solid #369;
	background: #6C88A6;
	padding: 3px 0 3px 0;
}

#footer p {
	text-align:center;
	padding-right:8px;
	font:10pt verdana, arial, sans-serif;
}
